<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/a75893eb-224a-4907-aa54-70ddfd4f5f6c/resourcegroups/PsychoHelpAPI20211120005312ResourceGroup/providers/Microsoft.Web/sites/PsychoHelp-API</ResourceId>
    <ResourceGroup>PsychoHelpAPI20211120005312ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/a75893eb-224a-4907-aa54-70ddfd4f5f6c/resourceGroups/PsychoHelpAPI20211120005312ResourceGroup/providers/Microsoft.ApiManagement/service/PsychoHelpAPIapi/apis/PsychoHelpAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://psychohelp-api.azurewebsites.net/swagger/index.html</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <ProjectGuid>acff08a9-02a8-4391-b479-b2391c9efccb</ProjectGuid>
    <MSDeployServiceURL>psychohelp-api.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>PsychoHelp-API</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>True</EnableMsDeployAppOffline>
    <UserName>$PsychoHelp-API</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <InstallAspNetCoreSiteExtension>False</InstallAspNetCoreSiteExtension>
    <TargetFramework>net5.0</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>